@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap');


.home{
    display: flex;
    flex-direction: column;
    background-color: #000000;
}

.home_child{
    margin: 4vh 0;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.main_stuff{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Agency_gal{
    max-height: 27vh;
}
.draft_gal{
    max-height: 27vh;
}
.combine_gal{
    max-height: 26vh;
}

.sub,.sec_header{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.sec_header{
    font-size: 40px;
    font-weight: bold;
}